Lenguaje_de_Marcas/Practica 3.2/Verificación XSD/3.ventas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="ventas">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="cabecera">
	 <xs:complexType>
	  <xs:sequence>
	   <xs:element name="nombre" type="xs:string"/>
	   <xs:element name="subtitulo" type="xs:string"/>
	   <xs:element name="descripcion" type="xs:string"/>
	   <xs:element name="fecha" type="xs:date" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	 </xs:complexType>
	</xs:element>
	<xs:element name="cuerpo">
	 <xs:complexType>
	  <xs:sequence>
	   <xs:element name="norte">
	   <xs:complexType>
        <xs:sequence>
         <xs:element name="libros_vendidos" maxOccurs="4">
          <xs:complexType>
           <xs:attribute name="trimestre" use="required">
            <xs:simpleType>
             <xs:restriction base="xs:positiveInteger">
              <xs:minInclusive value="1"/>
               <xs:maxInclusive value="4"/>
             </xs:restriction>
            </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="unidades" type="xs:integer" use="required" default="-1">
            <xs:simpleType>
             <xs:restriction base="xs:integer">
              <xs:minInclusive value="-1"/>
             </xs:restriction>
            </xs:simpleType>
           </xs:attribute>
          </xs:complexType>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
	   <xs:element name="centro">
	   <xs:complexType>
        <xs:sequence>
         <xs:element name="libros_vendidos" maxOccurs="4">
          <xs:complexType>
           <xs:attribute name="trimestre" use="required">
            <xs:simpleType>
             <xs:restriction base="xs:positiveInteger">
              <xs:minInclusive value="1"/>
               <xs:maxInclusive value="4"/>
             </xs:restriction>
            </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="unidades" type="xs:integer" use="required" default="-1">
            <xs:simpleType>
             <xs:restriction base="xs:integer">
              <xs:minInclusive value="-1"/>
             </xs:restriction>
            </xs:simpleType>
           </xs:attribute>
          </xs:complexType>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
	   <xs:element name="sur">
	   <xs:complexType>
        <xs:sequence>
         <xs:element name="libros_vendidos" maxOccurs="4">
          <xs:complexType>
           <xs:attribute name="trimestre" use="required">
            <xs:simpleType>
             <xs:restriction base="xs:positiveInteger">
              <xs:minInclusive value="1"/>
               <xs:maxInclusive value="4"/>
             </xs:restriction>
            </xs:simpleType>
           </xs:attribute>
           <xs:attribute name="unidades" type="xs:integer" use="required" default="-1">
            <xs:simpleType>
             <xs:restriction base="xs:integer">
              <xs:minInclusive value="-1"/>
             </xs:restriction>
            </xs:simpleType>
           </xs:attribute>
          </xs:complexType>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
	</xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:element>
</xs:schema>
	   
			 
		   