Lenguaje_de_Marcas/Practica 3.2/Verificación XSD/4.cartelera.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="cartelera">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="pelicula" maxOccurs="unbounded">
	 <xs:complexType>
	  <xs:sequence>
	   <xs:element name="titulo" type="xs:string"/>
	   <xs:element name="titulo original" type="xs:string" minOccurs="0"/>
	   <xs:element name="pais" type="xs:string"/>
	   <xs:element name="generos">
	    <xs:complexType>
	     <xs:sequence>
		  <xs:element name="genero" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		 </xs:sequence>
	    </xs:complexType>
	   </xs:element>
	   <xs:element name="clasificacion" minOccurs="0">
	    <xs:complexType>
	    <xs:attribute name="edad" use="required">
	     <xs:simpleType>
		  <xs:restriction base="xs:string">
		   <xs:pattern value="pc|tp|7|12|16|18"/>
		  </xs:restriction>
		 </xs:simpleType>
	    </xs:attribute>
		</xs:complexType>
	   </xs:element>
	   <xs:element name="sinopsis" type="xs:string"/>
	   <xs:element name="direccion" type="xs:string"/>
	   <xs:element name="reparto">
	    <xs:complexType>
		 <xs:choice minOccurs="1" maxOccurs="unbounded">
		  <xs:element name="actor" type="xs:string"/>
		  <xs:element name="actriz" type="xs:string"/>
		 </xs:choice>
	    </xs:complexType>
	   </xs:element>
	   <xs:element name="web" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	   <xs:element name="cartel" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	  </xs:sequence>
	  <xs:attribute name="duracion" use="required" type="xs:positiveInteger"/>
	   <xs:attribute name="codigo" use="required" type="xs:string"/>
	   <xs:attribute name="año" type="xs:positiveInteger" default="2024">
	    <xs:simpleType>
         <xs:restriction base="xs:positiveInteger">
	      <xs:minInclusive value="1900"/>
		  <xs:maxInclusive value="2100"/>
	     </xs:restriction>
	    </xs:simpleType>
	   </xs:attribute>
	 </xs:complexType>
	</xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
  <xs:key name="uniqueCodigo">
   <xs:selector xpath="pelicula"/>
   <xs:field xpath="@codigo"/>
  </xs:key>
</xs:schema>
	 