Lenguaje_de_Marcas/Practica 3.1/Validaciones/2.Correos.dtd

<!ELEMENT mensaje (remitente, destinatario+,asunto,cuerpo)>
<!ELEMENT remitente (nombre?, email)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT destinatario (#PCDATA)>
<!ATTLIST destinatario 
  nombre CDATA #IMPLIED
  email CDATA #REQUIRED>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT cuerpo (parrafo*)>
<!ELEMENT parrafo (#PCDATA)>
